<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/admin1.css' %}">
    <style>
        .main{
            display: flex;
            gap: 100px;

        }

    </style>
</head>
<body>

    <h1>welcome admin</h1>
    {% for i in users %}
       {% for j in i %}
       {{j}}
    {% endfor %}
    {% endfor %}
    <div class="main">
        <div class="first">
            <div class="p1">username :</div>
            <div class="p2">useremail :</div>
            <div class="p3">password :</div>
        </div>
        <div class="second">
            <div class="p4">username :</div>
            <div class="p5">useremail :</div>
            <div class="p7">password :</div>
        </div>
        <div class="last">
            <div class="p8">username :</div>
            <div class="p9">useremail :</div>
            <div class="p10">password :</div>
        </div>
    </div>
    
</body>
</html>